[Unit]
Description=PWM timer daemon
After=multi-user.target

[Service]
Type=simple
Restart=no
User=root
Group=pwm
UMask=0117
RuntimeDirectory=pwm
RuntimeDirectoryMode=750
LogsDirectory=pwm
LogsDirectoryMode=755
WorkingDirectory=/root/pyPWMd
ExecStart=/usr/bin/python3 /root/pyPWMd/pyPWMd.py server $LOGS_DIRECTORY

[Install]
WantedBy=multi-user.target
